
.main-nav{
	background: var(--primary-color);
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
	.navbar-brand img {
		max-width: 153px;
	}
	.navbar-nav{
		.nav-item{
			position: relative;
			.nav-link{
				position: relative;
				text-align: center;
				font-size: 13px;
				text-transform: uppercase;
				color: var(--light);
				padding-left: 15px;
				padding-right: 15px;
				background: none;
				border: none;
				font-weight: bold;
				&.usr-icon{
					padding-bottom: 0;
					padding-top: 0;
					img{
						height: 40px;
						width: 40px;
						border: 1px solid rebeccapurple;
						text-align: center;
						border-radius: 100%;
					}
				}
			}
		}
	}
}

// bootstrap override
.navbar-toggler:focus, .navbar-toggler:hover{
	outline: none;
	box-shadow: none;
}
.navbar-nav {
	align-items: center;
}
.large{
	padding-top: 25px;
	padding-bottom: 25px;
}
.small{
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-collapse {
		flex-flow: column;
		align-items: flex-end;
	}
}
i.fa {color: #CAE265;}
button.navbar-toggler {
    border: 3px solid #CAE265;
}
.dropdown-menu button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}