
.footer-main {
    padding: 50px 0;
    background: #7d71d3;
  }
  
  @media (max-width: 768px) {
    .footer-main {
      text-align: center;
    }
  }
  
  .footer-main .footer-logo {
    margin-bottom: 15px;
  }
  
  .footer-main .copyright {
    opacity: .7;
  }
  
  .footer-main .copyright p {
    color: #fff;
  }
  
  .footer-main .copyright a:hover {
    color: #fff;
  }
  .social-icons a {
      font-size: 34px;
      margin-top: 15px;
  }
  @media (max-width: 768px) {
    .footer-main ul.social-icons {
      margin-top: 30px;
    }
  }
  
  .footer-main ul.footer-links {
    margin-top: 25px;
  }
  
  @media (max-width: 768px) {
    .footer-main ul.footer-links {
      margin: 20px;
    }
  }
  
 footer a, .love {
    color: #fff;
    opacity: .7;
    text-decoration: none;
    margin-right: 15px;
  }
  
  footer a:hover {
    opacity: 1;
  }
  
  .footer-main ul.footer-links li:last-child a {
    padding-right: 0;
  }
  
  .footer-classic {
    background: #fafafa;
    text-align: center;
    padding: 110px 0;
  }
  footer {
      position: relative;
  }
  .love {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #fff;
    span{
      color: #CAE265;
    }
  }
