
<div *ngIf="message.title !== ''" class="backdrop" [ngStyle]="{'display':'block'}">
    <div class="modal" id="messageModal" [ngStyle]="{'display':'block'}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">{{message.title}}</h5>
            </div>
            <div class="modal-body">
                {{message.body}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-main-rounded" (click)="hideModal()">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>