  <section class="banner bg-1" id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-8 align-self-center">
          <!-- Contents -->
          <div class="content-block">
            <h1>destigmatizing mental health</h1>
            <h5>Tackling issues of mental health & suicide with data and levity.</h5>
            <!-- App Badge -->
            <div class="app-badge">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="/data" class="btn btn-main-rounded btn-green"><i class="ti-android"></i>
                    <div>View Mental Health Statistics</div>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="/resources" class="btn btn-main-rounded btn-green"><i class="ti-apple"></i>
                    <div>Take an emotional self-assessment</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- App Image -->
          <div class="image-block">
            <img class="img-fluid phone-thumb" src="/assets/images/MHPoster.png" alt="iphone-banner">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="about section bg-2" id="about">
    <div class="container">
      <div class="row resources">
        <div class="col-12 align-self-center mb-4 text-center">
          <h2>Not feeling so great?</h2>
          <p>You have many avenues to connect with people who care. Here are a few:</p>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="about-block">
            <!-- Resource 01 -->
            <div class="about-item mb-4">
              <div class="content">
                <a href="https://suicidepreventionlifeline.org/" target="_blank">
                  <h5>National Suicide Prevention Lifeline</h5>
                </a>
                <p>
                  If you’re thinking about suicide, are worried about someone, 
                  or would like emotional support, the Lifeline network is available 24/7 
                  by calling <a href="tel:1-800-273-8255"><span>800-273-8255</span></a> or via <a href="https://suicidepreventionlifeline.org/chat/" target="_blank"> <span>chat</span></a>.
                </p>
              </div>
            </div>
            <!-- Resource 02 -->
            <div class="about-item active mb-4">
              <div class="content">
                <a href="https://www.uclahealth.org/marc/mindful-meditations" target="_blank">
                  <h5>Guided Meditations from UCLA</h5>
                </a>
                <p>
                  Meditation is a mental exercise that trains attention and awareness. 
                  Its purpose is often to curb reactivity to one's negative thoughts and feelings.
                  <a href="https://www.uclahealth.org/marc/getting-started" target="_blank">Start meditating today</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-10 m-md-auto align-self-center ml-auto">
          <div class="about-block">
            <!-- Resource 04 -->
            <div class="about-item mb-4">
              <div class="content">
                <a href="https://translifeline.org/" target="_blank">
                  <h5>Trans Lifeline</h5>
                </a>
                <p>
                  Trans Lifeline provides trans peer support for our community 
                  that’s been divested from police since day one. The hotline is open 24/7 
                  by calling <a href="tel:+18775658860"><span>877-565-8860</span></a>.
                </p>
              </div>
            </div>
            <!-- Resource 05 -->
            <div class="about-item active mb-4">
              <div class="content">
                <a href="https://www.betterhelp.com/" target="_blank">
                  <h5>Online Therapy with BetterHelp.com</h5>
                </a>
                <p>
                  Making professional therapy accessible, affordable, and convenient — 
                  so anyone who struggles with life’s challenges can get help, anytime and anywhere.
                  <a href="https://www.betterhelp.com/" target="_blank">Get started</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
